:root{
  --primary-color: #59BDC5;
  --second-color: #2C2A29;
  --primary-color-light: #CEEBEE;
  --gray-color: #E0DFDF;
  --gray-color-light: #F4F4F4;
}



@media screen and (max-width: 1440px){
  .hero{
    width: 100%;
  }
  .text-hero {
    margin: 2rem;
    padding: 2rem;
    position: relative;
    z-index: 1;
  }
  .hero-title {
    font-size: 4rem;
  }
  .hero form {
    margin: 1rem 0.5rem;
  }
  .input {
    width: 38rem;
    margin: .5rem 0.5rem;
  }
  .triangles img {
    right: 91rem;
    top: 60rem;
    z-index: 0;
  }
  .fam-img img {
    left: -15rem;
  }
  .triangles2 img {
    top: 48rem;
    left: -10rem;
  }
  .text-container {
    right: 3%;
  }
  .fam-title {
    font-size: 4rem;
  }
  .fam-description {
    font-size: 2rem;
  }
  .models h3 {
    font-size: 2.5rem;
  }
  .models h3 span {
    font-size: 4.5rem;
  }
  .model-img{
    width: 50%;
  }
  .model-img img{
    width: 100%;
  }
  .models-desc{
    width: 50%;
  }
  .polygons img {
    left: 126rem;
    width: 100px;
    top: 192rem;
  }
  .triangles3 img {
    left: 1rem;
    width: 150px;
    top: 220rem;
  }
  .amenities-title {
    font-size: 4rem;
    padding: 10rem 0 0 3rem;
  }
  .amenities ul {
    margin-left: 0rem;
    padding-left: 3rem;
  }
  .amenities ul li {
    font-size: 1.8rem;
    margin: 3rem 0rem;
  }
  .polygons3 img {
    left: 61rem;
    top: 377rem;
  }
  .map-img{
    width: 50%;
  }
  .map-img img{
    width: 100%;
    left: -216px;
  }
  .map-contact {
    position: relative;
    right: 1%;
    font-size: 1.8rem;
  }
  .triangle {
    width: 478px;
    height: 409px;
    right: 23.7rem;
    top: 284.3rem;
    font-size: 2rem;
    padding: 7rem 6rem 0 0;
  }
  .polygons2 img {
    left: 72rem;
    top: 297rem;
  }
}

@media screen and (max-width: 1024px){
  .hero{
    width: 100%;
  }
  .text-hero {
    margin: 2rem;
    padding: 2rem;
    position: relative;
    z-index: 1;
  }
  .hero-title {
    font-size: 4rem;
  }
  .hero form {
    margin: 1rem 0.5rem;
  }
  .input {
    width: 38rem;
    margin: .5rem 0.5rem;
  }
  .triangles img {
    right: 80rem;
    top: 48rem;
    z-index: 0;
  }
  .fam-img img {
    left: -15rem;
  }
  .triangles2 img {
    top: 48rem;
    left: 0;
  }
  .text-container {
    right: 3%;
  }
  .fam-title {
    font-size: 4rem;
  }
  .fam-description {
    font-size: 2rem;
  }
  .models h3 {
    font-size: 2.5rem;
  }
  .models h3 span {
    font-size: 4.5rem;
  }
  .model-img{
    width: 50%;
  }
  .model-img img{
    width: 100%;
  }
  .models-desc{
    width: 50%;
  }
  .polygons img {
    left: 87rem;
    width: 100px;
    top: 187rem;
  }
  .triangles3 img {
    left: 1rem;
    width: 150px;
    top: 220rem;
  }
  .amenities-title {
    font-size: 4rem;
    padding: 10rem 0 0 3rem;
  }
  .amenities ul {
    margin-left: 0rem;
    padding-left: 3rem;
  }
  .amenities ul li {
    font-size: 1.8rem;
    margin: 3rem 0rem;
  }
  .polygons3 img {
    left: 33rem;
    top: 377rem;
  }
  .map-img{
    width: 50%;
  }
  .map-img img{
    width: 100%;
    left: -216px;
  }
  .map-contact {
    position: relative;
    right: 1%;
    font-size: 1.8rem;
  }
  .triangle {
    width: 478px;
    height: 409px;
    right: 11.7rem;
    top: 285.3rem;
    font-size: 2rem;
    padding: 7rem 6rem 0 0;
  }
  .polygons2 img {
    left: 42rem;
    top: 298rem;
  }
  .polygons3 img {
    display: none;
  }
}

@media screen and (max-width: 768px){
  .triangles img{
    display: none;
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-description {
    color: #fff;
    font-size: 2rem;
  }
  .fam-img img {
    left: -22rem;
  }
  .text-container {
    right: 3%;
    top: 67%;
    text-align: center;
    height: fit-content;
  }
  .fam-title {
    font-size: 3rem;
  }
  .triangles2 img {
    top: 3rem;
    left: 42rem;
  }
  .model-slide {
    display: flex;
    flex-flow: column;
  }
  .mySlides{
    flex-flow: column;
    margin-bottom: 3rem;
  }
  .polygons img {
    display: none;
  }
  .active, .model-name:hover {
    background-size: 120px;
    background-repeat: no-repeat;
  }
  .models h3 {
    font-size: 2.3rem;
  }
  .models h3 span {
    font-size: 3.5rem;
  }
  .models {
    height: 100%;
  }
  .triangle {
    clip-path: circle(50% at 50% 50%);
    width: 200px;
    height: 200px;
    padding: initial;
    right: 3rem;
    top: 285rem;
  }
  .amenities{
    height: 100%;
  }
  .amenities-title{
    position: initial;
    padding: initial;
    font-size: 3rem;
    padding-top: 5rem;
    margin-left: 7rem;
  }
  .amenities ul {
    margin-left: 4rem;
    margin-bottom: 2rem;
  }
  .amenities-items{
    display: flex;
    flex-wrap: wrap;
  }
  .polygons2 img {
    left: 52rem;
    top: 273rem;
  }
  .amenities-img img {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
    padding: 5rem;
    border-radius: 60px;
  }
  .map-img img {
    left: 0;
  }
  .map-contact{
    height: fit-content;
    top: 50rem;
  }
  .polygons3 img {
    display: none;
  }
}

@media screen and (max-width: 576px){
  .hero-title{
    font-size: 2.8rem;
  }
  .hero-description{
    font-size: 1.8rem;
  }
  .triangles2 img{
    display: none;
  }
  .fam-img img{
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(-1); /* w3org */
    clip-path: polygon(0 0, 100% 0, 50% 51%, 0 100%);
    height: auto;
    left: -15rem;
  }
  .text-container {
    right: 20%;
    top: 63%;
  }
  .fam-title{
    font-size: 3rem;
  }
  .fam-title span{
    color: #fff;
  }
  .fam-description{
    color: #fff;
    font-size: 2rem;
  }
  .models h3 {
    font-size: 2rem;
  }
  .models h3 span {
    font-size: 3rem;
  }
  .polygons2 img{
    display: none;
  }
  .triangle{
    top: 312rem;
    z-index: 1;
    width: 150px;
    height: 150px;
  }
  .amenities-img img{
    height: auto;
  }
  .map-img img{
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
    height: 100%;
  }
  .footer{
    width: 100%;
    flex-flow: column;
    height: 100%;
    padding: initial;
  }
  .footer img{
    margin: 2rem 0;
  }
}

@media screen and (max-width: 480px){
  .hero-title {
    font-size: 2.3rem;
    color: #fff;
  }
  .input{
    width: 34rem;
  }
  .fam-img img{
    left: -25rem;
  }
  .text-container {
    right: 3%;
  }
  .triangles2 img{
    display: none;
  }
  .row{
    grid-template-columns: repeat(3, 1fr);
  }
  .triangles3 img{
    display: none;
  }
  .models-desc{
    width: 90%;
  }
  .amenities ul {
    margin-left: 2rem;
  }
  .amenities ul li {
    font-size: 1.5rem;
    margin: 2rem 0rem;
  }
  .triangle {
    top: 308rem;
    width: 120px;
    height: 120px;
  }
  .map-contact {
    top: 40rem;
  }
  .map-img img{
    clip-path: initial;
  }
}

@media screen and (max-width: 426px){
  .hero-title{
    font-size: 2rem;
  }
  .hero-description {
    font-size: 1.6rem;
  }
  .input {
    width: 32rem;
  }
  .fam-img img{
    left: -71%;
  }
  .amenities ul {
    margin-left: 0rem;
  }
  .map-img img {
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
  }
}

@media screen and (max-width: 376px){
  .text-hero{
    margin: 0;
  }
  .fam-img img {
    left: -95%;
  }
  .fam-title {
    font-size: 2rem;
  }
  .fam-description {
    font-size: 1.5rem;
  }
  .text-container{
    right: 7%;
    top: 72%;
  }
}

@media screen and (max-width: 320px){


}